.games-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .games-list {
        background-color: g;
    }

    .games-list-item {
        margin: 10px;
    }

    .games-list-link {
        text-decoration: none;
        font-size: large;
    }
}